<div>
    <form class='form' method='POST' action='/new'>
        <input name='user' type='text' placeholder='User' required=true>
        <textarea name='message' placeholder='Message...' required=true></textarea>
        <div>
            <button type='submit'>Submit</button>
        </div>
    </form>
</div>